In [4]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [7]:
for school in high_school_types:
    print(school, high_school_types[type])

TypeError: list indices must be integers or slices, not type

In [8]:
for school in high_school_types:
    print(school, high_school_types[value])

NameError: name 'value' is not defined

In [9]:
for school in high_school_types:
    print(school, high_school_types[school])

TypeError: list indices must be integers or slices, not dict

In [10]:
for school in high_school_types.items():
    print(school)

AttributeError: 'list' object has no attribute 'items'

In [11]:
for school in high_school_types.keys():
    print(school, high_school_types[school])

AttributeError: 'list' object has no attribute 'keys'

In [12]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for school in high_school_types.keys():
    print(school, high_school_types[school])

AttributeError: 'list' object has no attribute 'keys'

In [13]:
for school, type in high_school_types.items():
    print(school, type)

AttributeError: 'list' object has no attribute 'items'

In [14]:
for k,v in high_school_types.items():
    print(k,v)

AttributeError: 'list' object has no attribute 'items'

In [15]:
for school in high_school_types.values(): 
    prnt(school)

AttributeError: 'list' object has no attribute 'values'

In [16]:
for school in high_school_types.values(): 
    print(school)

AttributeError: 'list' object has no attribute 'values'

In [17]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [18]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [19]:
# Add the Pandas dependency.
import pandas as pd

In [20]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [21]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [22]:
for school in school_series:
    pring(school)

NameError: name 'pring' is not defined

In [23]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [24]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [25]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [26]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [27]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

NameError: name 'schools_df' is not defined

In [28]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [29]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [30]:
schools_df["school_name"] = school_name
schools_df["type_of_school"] = type_of_school

print(schools_df)

   School ID            school_name type_of_school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [31]:
schools_df["school_name"] = school_name
schools_df["type_of_school"] = type

print(schools_df)

   School ID            school_name  type_of_school
0          0      Huang High School  <class 'type'>
1          1   Figueroa High School  <class 'type'>
2          2    Shelton High School  <class 'type'>
3          3  Hernandez High School  <class 'type'>
4          4    Griffin High School  <class 'type'>

In [32]:
schools_df["school_name"] = school_name
schools_df["type_of_school"] = type_of_school as type

print(schools_df)

SyntaxError: invalid syntax (<ipython-input-32-9ed7799dbbb1>, line 2)

In [33]:
schools_df["school_name"] = school_name
schools_df["type_of_school" as type] = type_of_school

print(schools_df)

SyntaxError: invalid syntax (<ipython-input-33-8b5165ed6e9f>, line 2)

In [34]:
schools_df.columns = ['School ID', 'school_name', 'type']

In [35]:
print(schools_df)

   School ID            school_name            type
0          0      Huang High School  <class 'type'>
1          1   Figueroa High School  <class 'type'>
2          2    Shelton High School  <class 'type'>
3          3  Hernandez High School  <class 'type'>
4          4    Griffin High School  <class 'type'>

In [36]:
schools_df["type_of_school"] = type_of_school

In [37]:
print(schools_df)

   School ID            school_name            type type_of_school
0          0      Huang High School  <class 'type'>       District
1          1   Figueroa High School  <class 'type'>       District
2          2    Shelton High School  <class 'type'>        Charter
3          3  Hernandez High School  <class 'type'>       District
4          4    Griffin High School  <class 'type'>        Charter

In [38]:
del schools_df['type']

In [39]:
schools_df.columns = ['School ID', 'school_name', 'type']

In [40]:
print(schools_df)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [41]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [42]:
schools2_df = pd.DataFrame()

In [43]:
school3_df = pd.DataFrame(high_school_dicts)

In [44]:
print(school3_df)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [45]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4,5,6,7,8,9,10,11,12,13,14]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School", "Wilson High School", "Griffin High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodrigues High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District","Charter", "Charter","Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [46]:
schools4_df = pd.DataFrame()

In [47]:
schools4_df["school_id"] = school_id
schools4_df["school_id"] = school_id
schools4_df["type_of_school"] = type_of_school

ValueError: Length of values does not match length of index

In [48]:
schools4_df["school_id"] = school_id

In [49]:
print(schools4_df)

    school_id
0           0
1           1
2           2
3           3
4           4
5           5
6           6
7           7
8           8
9           9
10         10
11         11
12         12
13         13
14         14

In [50]:
schools4_df["school_name"] = school_name

ValueError: Length of values does not match length of index

In [51]:
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [52]:
schools4_df["school_name"] = school_name

In [53]:
schools4_df["type_of_school"] = type_of_school

In [54]:
print(schools4_df)

    school_id            school_name type_of_school
0           0      Huang High School       District
1           1   Figueroa High School       District
2           2    Shelton High School        Charter
3           3  Hernandez High School       District
4           4    Griffin High School        Charter
5           5     Wilson High School        Charter
6           6    Cabrera High School        Charter
7           7     Bailey High School       District
8           8     Holden High School        Charter
9           9       Pena High School        Charter
10         10     Wright High School        Charter
11         11  Rodriguez High School       District
12         12    Johnson High School       District
13         13       Ford High School       District
14         14     Thomas High School        Charter